.gardener-auxiliary-text{
    color: #606266;
    font-size: 12px;
}
.gardener-samll-text{
    color: #606266;
    font-size: 13px;
}
.gardener-text{
    color: #606266;
    font-size: 14px;
}
.gardener-small-title{
    color: #606266;
    font-size: 16px;
    padding-bottom: 8px;
}
.gardener-title{
    color: #606266;
    font-size: 18px;
}
.gardener-large-title{
  color: #606266;
  font-size: 20px;
}

.gardener-title-nav{
  margin-bottom: 20px;
}

.gardener-height-8{
    height:8px;
}

.gardener-height-6{
    height:6px;
}

.el-table .success-row {
    background: #f0f9eb;
}

.gardener-line-height-6{
    height:1px;
    display:block;
    width: 100%;
    margin : 6px 0;
    background-color : #dcdfe6;
    position : relative;
}